  .clear-fix:after{
 	content: "";
 	clear: both;
 	display: block;
 }




.middle{
	text-align: center;
	margin: 0 auto;
}



.roboto-regular-40{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: lighter;

}



.roboto-regular-15{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	
}


.roboto-regular-13{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: lighter;

}

