@media screen and (min-width: 380px) {
	
	.container-max-width{
 		max-width: 74em;				/*max-width: 1172px; 74em*/
 		margin: 0 auto;
 	}
 	

	.common-button{
	 	font-size: 10px;
	 	width: 150px;
	 	padding-top: 14px;
 		padding-bottom: 15px;
 	}	
	/*Header*/

	.logo-wrapper{
		padding-left: 10px;
	 }
	.nav-icon{
	
		display: block;
		float: right;
		margin-right: 20px;
		cursor: pointer;
	}
	.navigation {
		display: none;
	}

	/* Service Responsive*/
   .web-graphic{
   	 width: 100%;
   	 float: none;
   }

   .prog-photo{
   	 width: 100%;
   	 float: none;
   }
   .web-design{
   	width: 100%;
  	 float: none;
   }

   .graphic-design{
   		width: 100%;
   		float: none;
   }

   .programming{
  	 	float: none;
   }

   .photography{
  	 	float: none;
   }

   .services-container p{
		margin: 0 auto;
		width: 70%;	
		font-size: 12px;
		padding-bottom:  30px;
		text-align: center;

	}


.design-box p{
 	font-size: 12px;
 }
   /*About div design*/
.about{
  padding-top: 0px;
	padding-bottom: 94px;
  background-image: linear-gradient(#ff5a55, #ff3558);
}


	/*// css for design*/


	/*css for add */

.add-wrapper{
	display: none;
}
	


/*Css for  team member*/

.team-member{
	width: 70%;
	float: none;
	display: block;
	margin: 5px  auto 0px;

	/*margin-left: 2.559726%;*/
	
}


.team h2{
	font-size: 40px;
}

.team-members {
	text-align: center;
}


.member-detail{
	background-image: linear-gradient(#5defc9, #4cdfcc);
	width: 100%;
	margin: 0 auto;
}



.member-detail .name{
	
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: block;

	padding-top: 10px;
	padding-bottom: 7px;
	/*text-align: center;*/
	/*margin:0 auto;*/
}

.team-member p{
	font-size: 13px;
	width: 90%;
	height: auto;
	text-align: center;
}


.member-detail .title{
	
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	display: block;
	padding-bottom: 10px;

	color: white;
}


/*Stat Div css*/
.stats-block span{
	display: none;
	text-align: center;
}

.stats-block img{
	padding-top: 20px;
	padding-bottom: 0px;
	cursor: pointer;
}

.stats-block a:hover{
	cursor: pointer;
}

.stats-block{
	width: 25%;
	height: 100px;
	text-align: center;	
	float: left;
	color: white;
	/*border: 1px solid white;*/
	
}

/*Client Wrapper div css*/
.client-wrapper{
	display: none;
}


/*Contact us div css*/

.contact-form{
	padding-top: 65px;
	padding-bottom: 90px;
	width: 90.699658%;
	margin: 0 auto;
	text-align: center;
}

.fl-name{
	padding-bottom: 50px;
}

.first-name{
	width: 100%;
	float: none;
	margin-bottom: 50px;
}
.last-name{
	width: 100%;
	float: none;
}
.message{
	display: block;
	width: 100%;
	margin-bottom: 30px;
}
  


  /*Address div css*/


.address-box{
	width: 100%;
	height: 150px;
	
	
}
.address span {
	display: block;
	padding-bottom: 15px;
	
}


/*Footer div css*/
.footer-wrapper{
	background-color: #233537;
	height: 75px;

}

}

@media screen and (min-width:  500px){
	
.team-member{
	width: 47%;
	float: left;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 10px;
	/*border: 1px solid black;*/
}


.design-box{
    width: 48%;
    /*height: 373px;*/
    float: left;
    margin-bottom: 30px;
    margin-right: 4%;
    /*margin-right: 2.5597269%;*/

 }


  .no-margin768{
   	margin-right: 0px;
   }
   
   .margin768{
   	 margin-right: 4%; 
   }


}

@media screen and (min-width: 780px) {
	
	.common-button{
	 	
	 	font-size: 15px;
	 	width: 250px;
	 	height: 70px;
	 	padding-top: 24px;
 	  padding-bottom: 30px;
	 	

 	}


	/*Header*/

 	.header ul{
 		float: right;
 	}



    ul.navigation li{
		float: left;
	  
    }

    ul.navigation li a{
    	font-size: 10px;
    	padding: 15px 30px 13px 30px;
    }
/*   .active_nav_link {
 		  	padding: 15px 30px 13px 30px;
	  }  
*/
    .navigation {
		display: block;
	}
    .nav-icon{
    	display: none;
    }
	


	/*CSS for banner*/
	.banner h1{
		font-size: 60px;
		text-align: center;
		margin-bottom: 6.5221843%;
	}

	/*Services*/



   .web-graphic{
   	 width: 100%;
   	 float: none;
   	 margin-bottom: 40px;
   }

   .prog-photo{
   	 width: 100%;
   	 float: none;
   }
   .web-design{
   	width: 50%;
  	 float: left;
   }

   .graphic-design{
   		width: 50%;
   		float: right;
   }

   .programming{
   		width: 50%;
  	 	float: left;
   }

   .photography{
   		width: 50%;
  	 	float: right;
   }
  

   .services-container h4{
	 
      padding-bottom: 40px;
    
	 }


	


 /*Browser design*/
 	.browser-image{
 	 	display: none;
 	}
	.brower-design{
		display: block;
	}

	.browser-image-small{
		display: block;
		width: 70%;
  	margin:0 auto;
	}
	
	/*.middle-browser{
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: -4px;
	left: 0;
	display: block;
	text-align: center;*/
	/*height: 382px;*/
/*}*/



/*CSS for fully responsive div*/

	.fully-responsive{
		padding-bottom: 67px;
		padding-top: 67px;
	}
	.mobile-description{
		padding-top: 11.945392%;
		width: 100%;
		float: none;
	}

	.mobile-description h2{
		font-size: 40px;
	}
	.mobile-description p{
		width: 80%;
		margin:0 auto;
		font-size: 12px;
		font-weight: lighter;
		padding-top: 1.0102389%;
		padding-bottom: 5.204781%;
		text-align: justify;
	}


	.mobile-images{
		width: 100%;
		float: none;
		/*position: relative;*/

	}

	
	.left-mobile{
		position: relative;
		left: 30%;
		z-index: 5;
	}
	.right-mobile{
		position: relative;
		left: 25%;
		bottom: 40px;
		z-index: 0;	
	}
	.order-me-now-btn{
	 	font-size: 13px;
	 	width: 43.859649%;
		padding-top: 20px;
	 	padding-bottom: 25px;
	 	float: none;
	 	color: white;
	 	text-transform: uppercase;
	 	display: block;
	 	margin:0 auto;
	 	border-radius: 7px;
	 	background-image: linear-gradient(#ff6b54, #ff3958);
	 	background-size: 100%;
	 	border: none;
	}



/*CSS For Design you like*/

		
	.design-you-like h2{
		font-size: 40px;
	}

	.design-you-like p{
		width: 65.699658%;
		padding-top: 36px;
		;
		
	}


    .design-you-like ul{
	/*width: 65.699658%;*/

	    padding-top: 0px;
	

	}



   .design-box img{
   		width: 100%;
   		/*height: 240px;*/
   }

   .design-box h3{
   	padding-top: 20px;
   }

   .design-box p{
	   
		font-size: 13px;
		text-align: center;
		/*width: 57.837837%;*/
		margin:0 auto;
		padding-top: 25px;
		color: #848889;
   }

  

   .arrow-down{
	   	display: block;
	   	margin: 0 auto;
	   	padding-top: 51px;
	   	padding-bottom: 70px;

   }

  
/*Team div css*/





.member-detail .name{

	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 7px;

}




.member-detail .title{

	font-size: 13px;
	font-weight: bold;
	text-align: center;
	display: block;
	padding-bottom: 30px;

	color: white;
}


.member-detail{
	background-image: linear-gradient(#5defc9, #4cdfcc);
	width: 100%;
	margin: 0 auto;
}


/*About us div*/

.about{
	padding-top: 96px;
	padding-bottom: 94px;
	background-image: none;
}



.about-image{
	width: 100%;
	/*height: 25.619128%;*/
	float: none;

}
.about-image img{
	width: 100%;
	height: 300px;
	/*height: 25.619128%;*/
	float: left;

}
.about-description{
	width:100%;
	padding-top: 35px;
	float: none;
}

.about-description h2{
	
	font-size: 20px;
	font-weight: bold;
	
	margin-bottom: 40px;
	text-align: center;

}
.about-description p{
	
	font-size: 13px;
	font-weight: lighter;
	padding: 0px 30px 30px 15px;
	color: #929ba0;
	text-align: justify;
}

	

/*Add div css*/

.add-wrapper{
	display: block;
	background-image: linear-gradient(#5aecc9, #54e7ca);
}

.add-img-wrapper{
	float: left;
	position: relative;
	top: 125px;
	left: 10px;
}
.add-content{
	width: 65%;
	padding-top: 17.491467%;
	padding-bottom: 150px;
	float: right;
}


/*Stats div css*/
.stats-block{
	width: 25%;
	height: 335px;
	text-align: center;	
	float: left;
	color: white;
	/*border: 1px solid white;*/

}	

.stats-block img{
	padding-top: 80px;
	padding-bottom: 40px;
}




/*Team div css*/
.team h2{
	font-size: 40px;
	padding-top: 76px;
	padding-bottom: 34px;
}

.team >p{
	max-width: 65.699658%;
	padding-bottom: 39px;
	margin-bottom: 61px;
	text-align: center;
}



	/*About div css*/

	.about-image{
		width: 48.634812%;
	/*height: 25.619128%;*/
		float: left;

	}

	.about-description{
		width: 44.965870%;
		padding-top: 35px;
		float: right;
	}



	/*Stat div css*/
	.stats-block span{
		display: block;
		text-align: center;

	}


	/*Contact us div css*/
	

.contact-form{
	padding-top: 65px;
	padding-bottom: 90px;
	width: 65.699658%;
	margin: 0 auto;
	text-align: center;
}


.first-name{
	width: 48.051948%;
	float: left;
}
.last-name{
	width: 48.051948%;
	float: right;
}
.message{
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

/*Client wrapper div css*/
.client-wrapper{
	display: block;
}


/*Address div css*/



.address-box{
	width: 370px;
	height: 170px;
	
}
.address span {	
	padding-bottom: 25px;
}


/*Css for address div*/
.footer-wrapper{
	
	height: 110px;

}

}	

/*----------------------------------------------------------*/

 
/* On screens that are 992px or greater, set the background color to blue */
@media screen and (min-width: 1024px) {
 

	
.header-container{
	padding-top: 29px;
	padding-bottom: 25px;	
}

.header ul{
 		float: right;
 	}


 	.logo-wrapper{
		padding-left: 10px;
	}
 	

 	


    ul.navigation li{
		float: left;
	  
    }


	ul.navigation li a{	

		font-size: 15px;
		display: inline-block;
		
	}	


    .nav-icon{
    	display: none;
    }
   
   

   /*CSS for banner div*/



 /*CSS for Services div*/
	.web-graphic{
		width: 50%;
		float: left;
	}


	.prog-photo{
		width: 50%;
		float: right;
	}


	.web-design{
		width: 50%;
		float: left;
	}

	.graphic-design{
		width: 50%%;
		float: right;
	}

	.programming{
		width: 50%%;
		float: left;
	}



	.photography{
		width: 50%;
		float: right;
	}
  	
  /*	.services-container h4{
  		font-size: 13px;
  	}
*/
	.services-container p{
		width: 80%;
		padding-bottom: 0px;
		border-bottom:none;

	}

/*FULLY RESPONSIVE*/
   .mobile-images{
    width: 44.075085%;
    float: left;
   }

   .mobile-description{
    width: 51.194539%;
    float: right;
   }

  

   /*NEWS LETTER*/
   .about{
    width: 100%;
   }

   .no-margin{
    margin-right: 0px;
   }

  .left-mobile{
   	width: 214px;
	
  }
 .right-mobile{
    width: 160px;
  }

   /*Browser design*/

  .browser-image{
 	 	display: block;
  }
	
	.browser-image-small{
		display: none;
	}
	




/*CSS for fully responsive div*/

.fully-responsive{
	padding-bottom: 67px;
	padding-top: 67px;
}
.mobile-description{
	padding-top: 5.945392%;
	width: 48.634812%;
}

.mobile-description h2{
	text-align: left;
}

.mobile-description p{

	font-size: 15px;
	font-weight: lighter;
	width: 100%;
	padding-top: 7.0102389%;
	padding-bottom: 11.66666%;

}
.mobile-description + p{
	padding-bottom: 0px;
}


.mobile-images{
	width: 46.075085%;
	float: left;
	/*position: relative;*/

}


.left-mobile{
	left: 30.740740%;
}


.right-mobile{
	left: 20.44444%;
	bottom: 40px;
}

.order-me-now-btn{
 	font-size: 15px;
 	width: 43.859649%;
	padding-top: 20px;
 	padding-bottom: 25px;
 	float: left;
 	background-image: linear-gradient(#ff6b54, #ff3958);	
}



/*CSS For Design you like*/

.design-you-like h2{
	font-size: 40px;
}

.design-you-like p{
	text-align: center;
	width: 65.699658%;
}


.design-you-like ul{
	/*width: 65.699658%;*/

	padding-top: 6.655290%;
	padding-right: 28.839590%;
	padding-left: 29.862481%;

}

.design-you-like ul li{


	
	display: inline-block;		

	padding-top: 6.655290%;
	padding-bottom: 40px;
	padding-left: 6.825938%;
	
	


}

.design-you-like ul li a{
	font-size: 15px;
	color: black;
}


.design-you-like ul li a:hover{
	color: white;
}



.design-box{
  width: 31.56996587%;
  /*height: 373px;*/
  float: left;
  margin-right: 2.5597269%;
  margin-bottom: 30px;
  background-color: white;
}

   .design-box img{
   		width: 100%;
   		/*height: 240px;*/
   }

   .design-box h3{
   	padding-top: 20px;
   }

   .arrow-down{
   	display: block;
   	margin: 0 auto;
   	padding-top: 51px;
   	padding-bottom: 70px;

   }

  .margin768{
   	 margin-right: 0%; 
   }

   .no-margin768{
   	margin-right: 2.5597269%;
   }

   .margin-right-non{
   	margin-right: 0px;
   }

  /*CSS for Team*/
.team-members{
	max-width: 1172px;
	margin:0 auto;
}

.team-member{
	width: 22.037542%;
	float: left;
	margin-left: 2.559726%;
	margin-right: 0;
	/*border: 1px solid black;*/
}
.team-member img{
	width: 100%;
	height: auto;
}

.team-member p{
	width: 90%;
}



/*About us div*/

.about-image{
	width: 48.634812%;
	/*height: 25.619128%;*/
	float: left;

}

.about-image img{
	width: 100%;
	height: 300px;
	/*height: 25.619128%;*/
	float: left;

}
.about-description{
	width: 44.965870%;
	padding-top: 35px;
	float: right;
}

.about-description h2{
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	padding-left: 20px;
	margin-bottom: 40px;

}
.about-description p{
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 15px;
	padding-right: 30px;
}


/*Add div css*/

.add-img-wrapper{
	float: left;
	position: relative;
	top: 125px;
	left: 12.798634%;
}
.add-content{
	width: 57.593856%;
	padding-top: 17.491467%;
	padding-bottom: 150px;
	float: right;
}



}
